@import url(http://fonts.googleapis.com/css?family=Fjalla+One&text=Stargazer);

body {
  background: #000 url('../images/night.jpg') no-repeat center top;
  background-size: cover;
  color: white;
  font: 16px/1.4 Helvetica, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Fjalla One';
  font-size: 40px;
}

form {
  margin: 50px auto;
  width: 50%;
}

input {
  font-size: 20px;
  padding: 5px 10px;
}

a {
  color: #99CCFF;
}

img {
  border: 5px solid #fff;
  border-radius: 20px;
  margin: 0 auto 50px;
}