<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Compliment</title>
    <style>
    body {
      background-color: <%= @color %>;
      font-family: helvetica;
      color: white;
      width: 900px;
      margin: 0 auto
    }

    div {
      font: bold 72px helvetica;
      margin-top: 50px;
    }
    </style>
  </head>
  <body>
    <h1>Emergency WDI Compliment</h1>
    <%= yield %>
  </body>
</html>
