@import "bourbon";

$mono: Consolas, monaco, monospace;
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$gray-panel: #ccc;
$blue-border: #6393c1;

body {
  background-color: #333;
  font: 14px/1.4em $sans;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visuallyhidden {
  display: block;
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}

.vending {
  background-color: #fff;
  border: 10px solid #fff;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  overflow: hidden;
  width: 550px;

  h1 {
    @include linear-gradient(rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
    border-bottom: 10px solid #fff;
    color: #fff;
    font: italic 50px/1em 'Molle', cursive;
    margin: 0;
    padding: 20px 0 10px;
    text-align: center;
    text-shadow: 0 0 10px #3b679e;
  }

  .vending-inventory {
    float: left;
    width: 66%;
  }

  .stockwindow {
    ul {
      background-color: #333;
      border-radius: 15px;
      list-style: none;
      margin: 0 0 10px;
      min-height: 300px;
      padding: 20px;
    }

    li {
      border-bottom: 1px solid #555;
      color: #fff;
      font-size: 16px;
      padding: 10px 0;

      &:first-child {
        border-top: 1px solid #555;
      }
    }
  }

  .stock-item {
    height: 20px;
    line-height: 20px;

    .code {
      color: #ccc;
      @include inline-block;
      font: 14px $mono;
      text-transform: uppercase;
      width: 10%;

      &:after {
        color: #666;
        content: '|';
        padding-left: 5px;
      }
    }

    .name {
      @include inline-block;
      font-weight: bold;
      text-transform: uppercase;
      width: 55%;
    }

    .status {
      color: #666;
      display: block;
      float: right;
      font-size: 12px;
      line-height: 1.1em;
      margin-right: 8px;
      position: relative;
      text-align: right;
      top: -2px;
      width: 40px;
    }

    .quantity {
      @include radial-gradient(#ffc578, #F98900);
      border-radius: 50%;
      color: #EA8100;
      float: right;
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      margin-top: 2px;
      text-align: center;
      width: 16px;

      &.empty {
        background: none;
        background-color: #444;
        color: #777;
      }
    }
  }

  .purchases,
  .change a {
    border: 3px solid #333;

    &:hover {
      border-color: $blue-border;
    }
  }

  .purchases {
    background-color: #333;
    border-radius: 15px;
    display: block;
    height: 60px;
    padding: 0 20px;

    ul {
      height: 25px;
      list-style: none;
      padding: 15px 0;
    }

    li {
      background-color: #fff;
      border-radius: 6px;
      color: #333;
      float: left;
      font-weight: bold;
      height: 30px;
      line-height: 30px;
      margin-right: 10px;
      padding: 0 15px;
      text-transform: uppercase;
    }
  }

  .change a {
    background-color: #333;
    border-radius: 10px;
    color: #ccc;
    display: block;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
  }

  .vending-controls {
    overflow: hidden;
    padding-left: 10px;

    h2 {
      font-size: 12px;
      margin: 20px 0 5px;
      text-transform: uppercase;
    }
  }

  .message {
    background-color: #000;
    border: 3px solid #333;
    border-radius: 5px;
    color: #0c0;
    font: 15px $mono;
    line-height: 21px;
    min-height: 42px;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .col-33,
  .col-66 {
    float: left;
    margin: 0 2.5% 5px;
    margin-right: 0;
    text-align: center;
    width: 30%;
  }
  
  .col-66 {
    width: 62.5%;
  }

  .btn {
    @include linear-gradient(rgba(252,255,244,1) 0%, rgba(236,236,236,1) 100%);
    border: 3px solid #fff;
    border-radius: 6px;
    @include box-sizing(border-box);
    color: #333;
    cursor: pointer;
    display: block;
    font-family: $sans;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 34px;
    text-align: center;
    width: 100%;

    &:hover {
      border-color: tint($blue-border, 90%);
      color: $blue-border;
    }

    &:focus {
      outline: none;
    }

    &:active {
      @include linear-gradient(rgba(236,236,236,1) 0%, rgba(252,255,244,1) 100%);
    }
  }

  .credit {
    ul {
      background-color: $gray-panel;
      border-radius: 6px;
      overflow: hidden;
      padding: 5px 0;
    }

    li {
      margin-bottom: 0;
    }

    input {
      border: 3px solid #aaa;
      border-radius: 6px;
      @include box-sizing(border-box);
      display: block;
      font-family: $sans;
      font-size: 16px;
      height: 26px;
      line-height: 20px;
      margin: 2px 0 0;
      padding: 2px 0;
      text-indent: 5px;
      width: 100%;

      &:focus {
        border-color: $blue-border;
        outline: none;
      }
    }

    button {
      border-radius: 50%;
      font-size: 12px;
      height: 30px;
      line-height: 24px;
    }
  }

  .keypad {
    ul {
      background-color: $gray-panel;
      border-radius: 6px;
      list-style: none;
      margin: 0;
      overflow: auto;
      padding: 5px 0 0;
    }
  }
}