<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vending Machine</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Molle:400italic', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
