body {
  background-color: #000000;
  color: white;
  font-family: Georgia;
  font-size: 30px;
}

#game_play_area {
  height: 200px;
  margin: 30px;
  width: 100%;
}
#hangman_area {
  width: 50%;
  height: 100%;
  float: right;
}
#letter_area {
  width: 46%;
  height: 100%;
  float: left;
}
#letters_used {
  height: 50%;
}
#guess_box {
  height: 50%;
}
#guessed_letters{
  font-size: 20px;
  height: 70%;
}
#word_string {
  letter-spacing: 10px;
  font-size: 100px;
  text-align: center;
}

input {
  border: 5px solid white;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  padding: 15px;
  background: rgba(255,255,255,0.5);
}

.button {
  display: block;
  margin: 30px auto;
  font-family: PFDinTextCompProBold, Impact, Arial;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
  padding:14px;
  background-color:rgba(255,0,51,1);
  border:1px solid #f03;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}
.button:hover {
  background-color:rgba(255,0,51,0.8);
 }