@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);

body {
  height: 700px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Raleway Dots;
  font-size: 48px;
  text-align: center;
  margin: 0;
}

img{
  position: absolute;
  top: 200px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid red;
  transition-property: border;
  transition-duration: 1s;
} 

.blue-border {
  border: 8px solid DodgerBlue ;
  transition-property: border;
  transition-duration: 1s;
}

.cat{
  left: 200px;
}

.dog{
  left: 600px;
}

.panda{
  left: 1000px;
}
